import(plyr)
export(str_c)
export(str_detect)
export(str_dup)
export(str_extract)
export(str_extract_all)
export(str_length)
export(str_locate)
export(str_locate_all)
export(invert_match)
export(str_match)
export(str_match_all)
export(fixed)
export(ignore.case)
export(str_pad)
export(str_trim)
export(str_replace)
export(str_replace_all)
export(str_split_fixed)
export(str_split)
export(str_sub)
export("str_sub<-")
