/* Fixes for fixed navbar --------------------------*/

body {
  position: relative;
  padding-top: 110px;
}

.section h1, .section h2, .section h3, .section h4 {
  padding-top: 80px;
  margin-top: -60px;
}

/* Table of contents --------------------------*/

#sidebar {
  position: fixed;

  top: 80px;
  padding-top: 40px;

  word-wrap: break-word;
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

.shrink-header #sidebar {
  top: 30px;
}

#sidebar h2 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

#sidebar .list-unstyled li {
  margin-bottom: 0.5em;
  line-height: 1.4;
}

#sidebar small {
  color: #777;
}

@media screen and (min-width: 970px) {
  #sidebar {
    width: 243px;
  }
}


/* Syntax highlighting ---------------------------------------------------- */

.fl,.number {color:rgb(21,20,181);}
.fu,.functioncall {color:#264D66 ;}
.ch,.st,.string {color:#375D81 ;}
.kw,.keyword {font-weight:600;}
.argument {color:#264D66 ;}
.co,.comment {color: #333;}
.formalargs {color: #264D66;}
.eqformalargs {color:#264D66;}
.slot {font-style:italic;}
.symbol {color:black ;}
.prompt {color:black ;}

pre img {
  background-color: #fff;
  display: block;
}

/* Status --------------------------- */

.status-container {
  padding-top:32px;
}

.status-container  a {
  display: block;
  margin-bottom: 5px;
}

/* tidyverse link ------------------- */

.navbar-brand-container {
  position: relative;
  min-width: 200px;
}

.tidylink {
  position: absolute;
  top: 70px;
  left: 74px;
  font-size: 12px;
  color: #555;

  -webkit-transition: all, .25s;
  -o-transition: all, .25s;
  transition: all, .25s;

}

@media screen and (max-width: 768px) {
  .tidylink {
    left: 89px;
  }
}

/* For shrinking navbar ------------------ */

.shrink-header .navbar {
  min-height: 50px;
}

.shrink-header .navbar-brand {
  height: 50px;
  background-size: 32px auto;
  font-size: 32px;
  padding: 0 0 0 54px;
  line-height: 50px;
}

.shrink-header .navbar-nav {
  line-height: 50px;
}

.shrink-header .navbar-nav li a {
  padding-top:0px;
  padding-bottom: 0px;
  line-height: inherit;
}

.shrink-header .navbar-toggle {
  margin-top: 7px;
  margin-bottom: 0px;
}

.shrink-header .tidylink {
  top: 32px;
  left: 42px;
  opacity: 0;
}

/* For reference topics listing ------- */

.section {
  margin-bottom: 24px;
}

.topic p {
  font-size: 16px;
  margin-bottom: 0;
}

.topic ul {
  padding-top: 0;
  list-style-type: square;
}

.topic li a {
  color: inherit;
}

@media screen and (min-width: 1024px) {
  .side-by-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .side-by-side .section {
    width: 45%;
  }
}

/* For the rstudio footer ------- */

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;

  display: flex;
  color: #666;
}
footer p {
  margin-bottom: 0;
}
footer .tidyverse {
  flex: 1;
}
footer .author {
  flex: 1;
  text-align: right;
}

/* --------------------- darken code link color */

code a {
  color: #375f84;
  font-weight: 600;
}

/* ---------------------- hover anchor tags */

.hasAnchor {
  margin-left: -30px;
}

a.anchor {
  display:inline-block;
  width: 30px;
  height: 30px;
  visibility: hidden;

  background-image: url(./link.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.hasAnchor:hover a.anchor {
  visibility: visible;
}

/* Tweak appearance of navigation in sidebar ---------------------- */

#sidebar .nav {
  padding-left: 0px;
  list-style-type: none;
  color: #5a9ddb;
}

#sidebar .active {
  width: 243px;
}

#sidebar .nav > li {
  padding: 10px 0 0px 20px;
  display: list-item;
  line-height: 20px;
  background-image: url(./tocBullet.svg);
  background-repeat: no-repeat;
  background-size: 16px 280px;
  background-position: left 0px;
}

#sidebar .nav > li.active {
  background-position: left -240px;
}


#sidebar a {
  padding: 0px;
  color: #5a9ddb;
  background-color: transparent;
}

#sidebar a:hover {
  background-color: transparent;
  text-decoration: underline;
}
